<form>
    <nb-card class="list-card" size="medium">
        <nb-card-body>
            <nb-list>
                <nb-list-item  *ngFor="let alternativa of alternativas; let i = index" ngForTrackBy="i">
                    <div class="form-group">
                        <div class="demo-items">
                            <nb-checkbox (change)="onCheckboxChange(i)">{{alternativa.pergunta}}</nb-checkbox>
                        </div>
                    </div>
                </nb-list-item> 
            </nb-list>
        </nb-card-body>
        <button class="botao-submit" type="button" nbButton status="danger" (click)="onSubmit()">Submit</button> 
    </nb-card>
</form>